.print-to-paper {
  max-width: auto;
  color: black;
}

#printJS-form img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

hr.dashed-hr {
  border-top: 1px dashed #ccc;
}
